@charset "UTF-8";
/* CSS Document */

/*

PRIMARY #207ab4; Anchor: #647883;
SECONDARY ##b2d8f1;

OTHER #3e9edd;
OTHER #613670;
OTHER #3b1c42;

BODY PRINT & CHART #000043;



*/

@media only screen and (min-width: 320px) {
.gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus {
    border-color: #666666;
    background-color: #4d90fe !important;
    background-image: none;
    filter: none;
}

sup{color:#000043;}
.logo-design2{
	display:none;}

#inside-li { color: #fff !important; opacity: 1 !important;}

#inside-li:hover { color: #000043 !important; opacity: 1 !important;}


.ghost-link { height: 120px; background-color: transparent; position: absolute; z-index: 900000;}

	.intro p {
		margin: 0;
color: #000043;
font: normal 19px/26px Arial, Helvetica Neue, Helvetica, sans-serif;}

	.intro-cube h1 {
		text-align: left;
		font: normal 28px 'CircularStd-Black';
		font-weight: 900;
		font-style: normal;
	}

	.intro-sec {
    background-color: #f8f8f8;
  }

  .nav-bg2 #main-menu>ul>li>a {
    color: #0D1140;
    font-weight: 600;
    position: relative;
    transition: opacity 0.1s;
    font-family: 'ubuntu', Helvetica, sans-serif;
    display: block;
    font-weight: 900;
    padding: 20px 25px 20px 25px;
  }
  .get-div h2 {
    font-family: ubuntu;
  }
  .mc-top {
    border: 2px solid #fbab18;
    margin-top: 18px;
    text-align: center;
    margin-bottom: 50px;
  }
  #mc-1 {}
  .card-t {
    margin-top: 70px;
  }
  .mc-text {
    text-align: center;
    margin-top: 30px;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    font-family: 'CircularStd-Book';
  }
  .card-img {
    height: 90px;
    width: 100px;
    background-color: #fff;
    margin-top: -45px;
    background-image: url(../images/box-1.gif);
    background-repeat: no-repeat;
    background-position: center;
  }


	.card-img2 {
    height: 90px;
    width: 100px;
    background-color: #fff;
    margin-top: -45px;
    background-image: url(../images/box-2.gif);
    background-repeat: no-repeat;
    background-position: center;
  }

	.card-img3 {
    height: 90px;
    width: 100px;
    background-color: #fff;
    margin-top: -45px;
    background-image: url(../images/box-3.gif);
    background-repeat: no-repeat;
    background-position: center;
  }


	.card-img4 {
		height: 90px;
		width: 100px;
		background-color: #fff;
		margin-top: -45px;
		background-image: url(../images/fb-art.png);
		background-repeat: no-repeat;
		background-position: center;
	}


	.card-img5 {
		height: 90px;
		width: 100px;
		background-color: #fff;
		margin-top: -45px;
		background-image: url(../images/insta.png);
		background-repeat: no-repeat;
		background-position: center;
	}

#main-menu .my-active {
    background-color: #fbab18;
padding-bottom: 2px;
padding-right: 18px;
padding-top: 0px;
  }



#main-menu .my-active a:hover {
 color: #fff !important;}


  >ul>.my-active>a:hover {
    color: #fff;
    opacity: 1;
  }
  .menu-p {
    padding-top: 12px !important;
    margin-bottom: 12px;
    margin-top: 52px;
  }
  /***get in touch************/
  .get-div {
    background-color: #fff;
    padding: 0px;
  }
  .get-div h2 {
    font-size: 33px !important;
    text-align: center !important;
    font-weight: bold !important;
    padding-top: 30px;
    color: #000043;
  }
  #div-intouch {
    padding: 30px;
  }
  #div-intouch2 {
    padding: 48px;
  }
  #stay-div {
    border: 2px solid #fbab18;
    padding: 16px !important;
    margin-top: 18px;
    font-size: 17.2px;
    margin-bottom: 0px;
  }
  .inch-div {
    padding: 29px;
  }
  .inch-div1 {
    padding: 40px;
  }
  #stay-div2 {
    border: 2px solid #fbab18;
    padding: 16px !important;
    margin-top: 18px;
    font-size: 17.2px;
  }
  #stay-div img {
    position: relative;
    top: -273px;
    padding: 30px;
    background: #fff;
    margin-bottom: -49px !important;
    margin-left: 79px;
  }
  #stay-div p {
    position: relative;
    padding: 10px;
    background: #fff;
    margin-bottom: -2px !important;
    bottom: -17px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
  }
  #stay-div2 p {
    position: relative;
    padding: 10px;
    background: #fff;
    margin-bottom: -2px !important;
    bottom: -17px;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    font-family: ubuntu;
  }
  #stay-div2 img {
    position: relative;
    top: -182px;
    padding: 10px;
    background: #fff;
    margin-bottom: -49px !important;
    margin-left: 127px;
  }
  .cse .gsc-control-cse, .gsc-control-cse {
    padding-top: .8em !important;
    padding-bottom: .5em !important;
    width: auto;
  }
  .search-float {
    background-color: #0C0F40;
    position: fixed;
    z-index: 90000;
  }
  /* search**/
  /**
 * Default theme
 *
 */
  .logo-design {
    display: none;
  }
  #main-menu .active>a {
   opacity: 1;
background-color: #ffb743;
height: 20px;
padding-bottom: 23px;
padding-right: 18px;
color: #fff !important;
padding-top: 12px
  }
  #main-menu .active>a:hover {
    color: #fff !important;
  }
  .social-list {
    float: right;
  }
  .highlight-img2 {
    background-color: #EEE9F0;
    padding: 50px 0 55px;
    overflow: hidden;
  }
  .mybn {
    background-color: #EEE9F0;
    margin: 0;
  }
  .mytp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1D1D58;
    padding-top: 30px;
    font-family: 'CircularStd-Book';
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
  }
  .mypt-1 {
    height: 150px;
    background-image: url(../images/logo/un.png);
    background-repeat: no-repeat;
    background-size: 165px;
    background-position: center;
  }
  .mypt-2 {
    height: 150px;
    background-image: url(../images/logo/bill-&-melinda-gates-foundation.png);
    background-repeat: no-repeat;
    background-size: 165px;
    background-position: center;
  }
  .mypt-3 {
    height: 150px;
    background-image: url(../images/logo/Government-of-Sweden.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
  }
  .mypt-4 {
    height: 150px;
    background-image: url(../images/logo/usaiid.png);
    background-repeat: no-repeat;
    background-size: 155px;
    background-position: center;
  }
  input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border-radius: 20px !important;
  }
  .gsib_a {
    width: 100%;
    padding: 1px 6px 0 !important;
    padding-right: 6px;
    padding-left: 6px;
  }
  .gsc-input-box {
    border-radius: 20px !important;
  }
  input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border-color: #357ae8 !important;
    background-color: #357ae8 !important;
    background-image: none;
    filter: none;
    height: 25px !important;
    margin-top: 0 !important;
   
    background-repeat: no-repeat;
    background-position: center;
  }
  /* Slight reset to make the preview have ample padding. */
  .cse .gsc-control-cse, .gsc-control-cse {
    padding: 1em;
    width: auto;
  }
  .cse .gsc-control-wrapper-cse, .gsc-control-wrapper-cse {
    width: 100%;
  }
  .cse .gsc-branding, .gsc-branding {
    display: none;
  }
  /* Selector for entire element. */
  .cse .gsc-control-cse, .gsc-control-cse {
    border-color: #0C0F40 !important;
    background-color: #0C0F40 !important;
  }
  .cse .gsc-control-cse:after, .gsc-control-cse:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .cse .gsc-resultsHeader, .gsc-resultsHeader {
    border: block;
  }
  table.gsc-search-box td.gsc-input {
    padding-right: 12px;
  }
  input.gsc-input {
    border-color: #3e9edd;
    font-size: 13px;
    padding: 1px 6px;
    background-color: #3e9edd;
  }
  /* Search button */
  .cse input.gsc-search-button, input.gsc-search-button {
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    padding: 4px 17px !important;
    height: 20px;
    min-width: 54px;
    background-color: #3e9edd;
    border: 1px solid #666;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  /* Inactive tab */
  .cse .gsc-tabHeader.gsc-tabhInactive, .gsc-tabHeader.gsc-tabhInactive {
    border-bottom: none;
    color: #666666;
    background-color: #e9e9e9;
    border: 1px solid;
    border-color: #e9e9e9;
    border-bottom: none;
  }
  /* Active tab */
  .cse .gsc-tabHeader.gsc-tabhActive, .gsc-tabHeader.gsc-tabhActive {
    background-color: #FFFFFF;
    border: 1px solid;
    border-top: 2px solid;
    border-color: #e9e9e9;
    border-top-color: #FF9900;
    border-bottom: none;
  }
  /* This is the tab bar bottom border. */
  .cse .gsc-tabsArea, .gsc-tabsArea {
    margin-top: 1em;
    border-bottom: 1px solid #e9e9e9;
  }
  /* Inner wrapper for a result */
  .cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result, .gsc-imageResult-column, .gsc-imageResult-classic {
    padding: .25em;
    border: 1px solid;
    border-color: #ffffff;
    margin-bottom: 1em;
  }
  /* Result hover event styling */
  .cse .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result:hover, .gsc-webResult.gsc-result.gsc-promotion:hover, .gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {
    border: 1px solid;
    border-color: #FFFFFF;
  }
  /*Promotion Settings*/
  /* The entire promo */
  .cse .gsc-webResult.gsc-result.gsc-promotion, .gsc-webResult.gsc-result.gsc-promotion {
    background-color: #FFFFFF;
    border-color: #336699;
  }
  /* Promotion links */
  .cse .gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link, .cse .gs-promotion a.gs-title:link *, .gs-promotion a.gs-title:link *, .cse .gs-promotion .gs-snippet a:link, .gs-promotion .gs-snippet a:link {
    color: #0000CC;
  }
  .cse .gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited, .cse .gs-promotion a.gs-title:visited *, .gs-promotion a.gs-title:visited *, .cse .gs-promotion .gs-snippet a:visited, .gs-promotion .gs-snippet a:visited {
    color: #0000CC;
  }
  .cse .gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover, .cse .gs-promotion a.gs-title:hover *, .gs-promotion a.gs-title:hover *, .cse .gs-promotion .gs-snippet a:hover, .gs-promotion .gs-snippet a:hover {
    color: #0000CC;
  }
  .cse .gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active, .cse .gs-promotion a.gs-title:active *, .gs-promotion a.gs-title:active *, .cse .gs-promotion .gs-snippet a:active, .gs-promotion .gs-snippet a:active {
    color: #0000CC;
  }
  /* Promotion snippet */
  .cse .gs-promotion .gs-snippet, .gs-promotion .gs-snippet, .cse .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right, .cse .gs-promotion .gs-title .gs-promotion-title-right *, .gs-promotion .gs-title .gs-promotion-title-right * {
    color: #000000;
  }
  /* Promotion url */
  .cse .gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl {
    color: #008000;
  }
  /* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
  .gsc-completion-selected {
    background: #EEE;
  }
  .gsc-completion-container {
    font-family: ubuntu, sans-serif;
    font-size: 13px;
    background: white;
    border: 1px solid #CCC;
    border-top-color: #D9D9D9;
    margin-left: 0;
    margin-right: 0;
    /* The top, left, and width are set in JavaScript. */
  }
  .gsc-completion-title {
    color: #0000CC;
  }
  .gsc-completion-snippet {
    color: #000000;
  }
  /* Full URL */
  .gs-webResult div.gs-visibleUrl-short, .gs-promotion div.gs-visibleUrl-short {
    display: none;
  }
  .gs-webResult div.gs-visibleUrl-long, .gs-promotion div.gs-visibleUrl-long {
    display: block;
  }
  /* Facet box css */
  .gsc-context-box {
    font-size: 83%;
    margin-top: 3px;
    border-collapse: collapse;
  }
  .gsc-context-box .gsc-col {
    padding: 1px 0;
    white-space: nowrap;
    vertical-align: middle;
  }
  .gsc-context-box .gsc-facet-label {
    width: 65px;
    padding-left: 2px;
    text-decoration: underline;
    color: #15C;
    cursor: pointer;
  }
  .gsc-context-box .gsc-chart {
    width: 32em;
    padding: 3px;
    border-left: 1px solid #6A9CF3;
    border-right: 1px solid #6A9CF3;
  }
  .gsc-context-box .gsc-top {
    border-top: 1px solid #6A9CF3;
  }
  .gsc-context-box .gsc-bottom {
    border-bottom: 1px solid #6A9CF3;
  }
  .gsc-context-box .gsc-chart div {
    background: #6A9CF3;
    height: 9px;
  }
  .gsc-context-box .gsc-facet-result {
    color: #15C;
    width: 30px;
    text-align: right;
    padding-right: 5px;
  }
  /* Universal one box css. */
  .gsc-usr-group-thumbnail {
    display: inline-block;
    max-width: 72px;
    max-height: 72px;
  }
  .gsc-usr-group-thumbnail img {
    max-height: 72px;
    overflow: hidden;
  }
  .gs-webResult .gs-title .gs-title.gsc-usr-group-heading {
    color: #15C;
    cursor: pointer;
  }
  .gsc-usr-group {
    min-height: 100px;
    zoom: 1;
    display: block;
    line-height: 1.24;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-left: 20px;
  }
  .gsc-usr-group-content {
    padding-top: 1px;
    padding-bottom: 3px;
  }
  .gsc-usr-group-content-thumbnail {
    display: inline-block;
    vertical-align: top;
  }
  .gsc-usr-group-head-result {
    display: inline-block;
    padding-left: 6px;
  }
  .gsc-usr-group-snippet {
    width: 100%;
    height: 3.6em;
    overflow: hidden;
  }
  .gsc-usr-group-content-results {
    font-size: 12px;
    padding-left: 1px;
    width: 80%;
    padding-top: 7px;
  }
  .gsc-usr-group-head-results {
    display: inline-block;
    font-size: 13px;
    padding-left: 6px;
    width: 80%;
  }
  .gs-webResult .gs-title .gs-title.gsc-usr-group-all-results {
    font-size: 11px;
    line-height: 10px;
  }
  .gs-webResult .gs-title .gs-title.gsc-usr-group-all-results b {
    font-size: 14px;
    font-weight: 600;
  }
  .gs-webResult .gs-title .gs-title.gsc-usr-group-heading b {
    color: #15C;
  }
  /* CONTENT AREA */
  body p {
    color: #000043;
  }
  .table-responsive {
    margin-top: 30px;
  }
  .myqb {
    color: #3E9EDD;
  }
  .bodi-img-big {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .bodi-img-big img {
    width: 100%;
  }
  .caption-bi {
    background-color: #3E9EDD;
    padding: 15px 15px;
    color: #EEF4F7;
    letter-spacing: .3px;
    width: 100%;
  }
  .side-links {
    color: #7d8285;
    text-align: left;
  }
  .cont-body {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    color: #000043;
    width: 100%;
    margin-bottom: 60px;
    padding-bottom: 30px;
  }
  .cont-body p {
    font-family: arial;
		font-size: 16px;
  }
  .cont-body h3 {
		color: #000043;
    font-weight: bold;
		font-family: arial;
  }
  .linktext {
    color: #7d8285;
    padding-top: 7px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
  }
  .linktext a {
    color: #337ab7;
  }
  .link-brake a {
    color: #337ab7;
  }
  .link-brake {
    color: #0D1140;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 2px solid #e8e8e8;
    cursor: pointer;
    background-color: #EEF4F7;
  }
  .link-brake h4 {
    margin: 0;
  }
  .link-brake:hover {
    background-color: #EEF4F7;
  }
  .linktext:hover {
    background-color: #EEF4F7;
  }
  .cont-title-2 {
    background-color: #FBAB1A;
    height: 100px;
  }
  .cont-title-2b {
    background-color: #FBAB1A;
    height: 100px;
  }
  .cont-title-2 h3 {
    padding-top: 30px;
    font-weight: bold !important;
    color: #0D1140;
    text-align: left;
  }
  .cont-title-2b h3 {
    padding-top: 37px;
    font-weight: bold !important;
    color: #0D1140;
    text-align: left;
  }
  .t-hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top-width: 0px;
    border-top-style: none;
    border-top-color: currentcolor;
    border-top: 3px solid #FBAB1A;
    color: #0D1140;
  }
  .cont-title h1 {
    color: #0D1140;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
  }
  .cont-title {
    background-color: #EEF4F7;
    border-bottom: 3px #FBAB1A solid;
  }
  .cont-pad {
    background-color: #fbfbfb;
  }
  .content-area {
    background-color: #fff;
    padding-top: 50px;
    min-height: 425px;
  }
  .side-bar {
    background-color: #fff;
    padding-top: 50px;
    min-height: 425px;
    display: none;
  }
  /**  case study details****/
  .myproject {
    height: 1000px;
  }
  .mp-l {
    height: 1000px;
  }
  .mp-r {
    background-color: #ECECEC;
    height: 700px;
  }
  .mp-r h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0;
    color: #3E9EDD;
  }
  .mp-intro {
    background-color: #ECECEC;
    height: 200px;
    padding-top: 20px;
  }
  .myintro {
    text-align: left;
  }
  .myintro h2 {
    margin-bottom: 20px !important;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0;
    color: #3E9EDD;
  }
  .case-1 {
    background-color: #699;
    height: 300px;
  }
  .mycase {
    background-color: #333;
    height: 500px;
  }
  .mycase-1 {
    background-color: #6C9;
    height: 500px;
  }
  .link-list-1 {
    list-style: none !important;
    font-size: 14px;
  }
  /* MAST IMAGES */
  #mast-1 {
    height: 200px;
    background: url(../images/dlines-80.png) repeat, url(../images/inside-mast/echo-dial-mast-4.jpg) no-repeat;
    background-size: cover;
  }
  /* DOWNLOADS */
  .rm-t3b {
    cursor: pointer;
    margin-top: 10px;
    transition: all .3s ease-in-out;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px;
    width: 60%;
    margin-left: 20%;
    color: #fff !important;
  }
  .rm-t3b:hover {
    cursor: pointer;
    margin-top: 10px;
    background-color: #fff;
    color: #FBAB1A !important;
  }
  .rm-t3b .d-slidb {
   
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-size: 12px;
  }
  .rm-t3b:hover .d-slidb {
    margin-left: -2px;
    transition: all .3s ease-in-out;
  }
 .d-slidb .fa {
    font-size: 17px !important;
    color: #FBAB1A !important;
    margin-left: 5px;
}
  /* ----------------------- */
  .article-list {
    color: #e9e4e7;
    background-color: #fff;
  }
  .rm-t3 {
    cursor: pointer;
    margin-top: 10px;
    transition: all .3s ease-in-out;
    background-color: #e9e4e7;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 40px;
    width: 60%;
    margin-left: 20%;
    border: none;
  }
  .rm-t3:hover {
    cursor: pointer;
    margin-top: 10px;
    background-color: #FBAB1A;
    color: #fff;
  }
  .rm-t3 .d-slid {
    margin-left: -70px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    font-size: 12px;
  }
  .rm-t3:hover .d-slid {
    margin-left: -2px;
    transition: all .3s ease-in-out;
  }
  .d-slid .fa {
    font-size: 18px !important;
    color: #fff !important;
  }
  .file-download {
    background-size: cover;
    background-position: left;
    height: 200px;
    background-image: url(../images/dial-docs.png);
  }
  /* CATEGORY SECTION */
  .article-list h2 {
    margin-bottom: 10px !important;
    padding-top: 25px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0;
    color: #000043;
    font-size: 24px;
  }
  .article-list .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
  }
  .article-list .intro p {
		margin: 0;
		color: #000043;
		font: normal 19px/26px Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  .article-list .articles {
    padding-bottom: 40px;
  }
  .article-list .item {
    min-height: 425px;
    text-align: center;
    margin-top: 75px;
  }
  .article-list .item .name {
		font: normal 18px/19px  'CircularStd-Bold';
		color: #000043;
		margin-top: 30px;

  }
  .article-list .item .description {
		margin: 0;
		color: #000043;
font: normal 15px/15px 'CircularStd-Book';
		margin-bottom: 20px;

  }
  .article-list .item .action {
    font-size: 24px;
    width: 24px;
    margin: 22px auto 0;
    line-height: 1;
    display: block;
    color: #FBAB1A;
    opacity: 0.85;
    transition: opacity 0.2s;
    text-decoration: none;
    display: inline;
  }
  .article-list .item .action:hover {
    opacity: 1;
  }
  .cat-sec {
    background-color: #fff;
  }
  /* INTRODUCTION HOME PAGE */
  .intro h2 {
		font: normal 36px/33px 'CircularStd-Bold';
		    line-height: 33px;
		color: #000043;
		
  }
  .intro .btn-primary {
    border-radius: 40px;
		font: normal 15px/15px 'CircularStd-Book';
		margin-top: 15px;

  }
  .intro .btn-primary:hover {
    background-color: #3E9EDD;
  }




  .bc-color {
font: normal 15px/15px 'CircularStd-Book';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.5);
  }
  .ic-head {
    padding-top: 80px;
  }
  .ic-body {
    padding-bottom: 40px;
    text-align: center;
  }
  .intro-cube {
		height: 300px;
  }

  .intro-cube p {
    margin: 0;
    color: #000043;
    font: normal 18px/26px Arial, Helvetica Neue, Helvetica, sans-serif;
  }
  .in-btext {}

  .is-btm {
    height: 50px;
    background-color: rgb(148, 92, 130);
  }
  .intro-head {
    width: 100%;
  }
  .intro-head2 {
    display: none;
    height: 200px;
  }
  .intro-head3 {
    display: none;
    height: 50px;
    position: relative;
  }
  /* .intro-h3-stroke {
    display: none;
    border-right: 13.5px #0C0F40 solid;
    border-bottom: 13.5px #0C0F40 solid;
    height: 45px;
    position: absolute;
    width: 4000px;
    right: 0;
    margin: auto;
  }*/
  .right-ln-div {
    overflow: hidden;
  }
  .right-line {
    display: none;
    height: 100px;
    width: 4000px;
    margin-left: 15.6%;
    border-left: 13.5px #0C0F40 solid;
    margin-bottom: 80px;
    border-bottom: 13.5px #0C0F40 solid;
  }
  .is-top {
    display: none;
    height: 115px;
    border-right: 13.5px #0C0F40 solid;
  }
  .intro-cube h1 {
    text-align: center;
    padding-top: 0px;
    font-weight: bold;
    margin-top: 0;
    color: #000043;
    font-size: 25px !important;
  }
  .intro-cont {}
  .is-main {}
  .intro-sec {}
  /* HERO SECTION */
  .list-inline>li {
    padding-left: 7px;
  }
  .hero-headline {
    font-size: 4.5em;
    font-weight: bolder;
    font-family: ubuntu, Helvetica, sans-serif;
  }
  .hero-text {
    color: #fff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-text h1 {
    margin: 0 !important;
    font-family: circular std;
    font-weight: 900;
    font-style: normal;
  }
  .main-logo {
    display: block;
  }
  /* MEGA MENU */
  .secondary-full {
    padding: 63px 50px;
		font-family: 'CircularStd-Book';
  }
  #main-menu>ul>li>a {
    margin: 0 !important;
    display: block;
  }
  #main-menu>ul>li>a:active {
    color: #FBAB1A !important;
  }
  .main-menu a {
    color: #fff;
  }
  .mg-db {
    font-size: 25px;
    font-weight: 100;
  }
  .nav-bg-inside {
    background-color: #3b1c42;
    position: absolute;
    width: 100%;
    z-index: 90000;
  }
  .nav-bg {
    position: absolute;
    width: 100%;
    z-index: 9000000;
    background-color: #fff;
  }
  .hero-sec {
    margin-top: 120px;
    background-image:url(../images/banner/home-b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cat-1-4 {}
  .cat-5-7 {}
  .dial-content-1 {
    height: 1000px;
  }
  .ghost-div {
    display: none;
  }
  .hr-menu {
    display: none;
  }
  /*....................SPACE.......................*/
  .w-100 {
    width: 100%;

  }
  .p-0 {
    padding: 0;
     margin-right: 3%;
  }
  .p-t-5 {
    padding-top: 5px !important;
  }
  .p-t-10 {
    padding-top: 10px !important;
  }
  .p-t-20 {
    padding-top: 20px !important;
  }
  .p-t-30 {
    padding-top: 30px !important;
  }
  .p-t-40 {
    padding-top: 40px !important;
  }
  .p-t-50 {
    padding-top: 50px !important;
  }
  .p-t-60 {
    padding-top: 60px !important;
  }
  /**
  .p-b-0 {
    padding-bottom: 0px !important;
  }***/
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  .p-b-10 {
    padding-bottom: 10px !important;
  }
  .p-b-20 {
    padding-bottom: 20px !important;
  }
  .p-b-30 {
    padding-bottom: 30px !important;
  }
  .p-b-40 {
    padding-bottom: 40px !important;
  }
  .p-b-50 {
    padding-bottom: 50px !important;
  }
  .p-b-60 {
    padding-bottom: 60px !important;
  }
  .m-b-0 {
    margin-bottom: 0 !important;
  }
  .m-t-5 {
    padding-top: 5px !important;
  }
  .m-t-10 {
    padding-top: 10px !important;
  }
  .m-t-20 {
    padding-top: 20px !important;
  }
  .m-t-30 {
    padding-top: 30px !important;
  }
  .m-t-40 {
    padding-top: 40px !important;
  }
  .m-t-50 {
    padding-top: 50px !important;
  }
  .m-t-60 {
    padding-top: 60px !important;
  }
  .m-b-5 {
    padding-bottom: 5px !important;
  }
  .m-b-10 {
    padding-bottom: 10px !important;
  }
  .m-b-20 {
    padding-bottom: 20px !important;
  }
  .m-b-30 {
    padding-bottom: 30px !important;
  }
  .m-b-40 {
    padding-bottom: 40px !important;
  }
  .m-b-50 {
    padding-bottom: 50px !important;
  }
  .m-b-60 {
    padding-bottom: 60px !important;
  }
}

@media only screen and (min-width: 481px) {

  .mytp {
    height: 150px;
    padding-top: 0;
  }
   
}

@media only screen and (min-width: 768px) {
.logo-design2{
	display:block;}

	.cont-title-2 {
    width: 320px;
  }

  .mc-top {
    margin-bottom: 0px;
  }
  .logo-design {
    display: block;
  }
  .article-list .item {
    margin-top: 0;
    margin-bottom: 40px;
  }
  /* CATEGORY SECTION */
  .article-list p {
    color: #000043;
  }
  /* INTRO SECTION */
  .in-htext {
    padding-right: 40px;
  }
  .intro-cube {
    display: table;
  }
  .ic-body {
    padding-bottom: 0;
    text-align: left;
  }
  .ic-head {
    padding-top: 0;
  }
  .intro-head {
    height: 200px;
    position: absolute;
    width: 600%;
    padding: 72px;
  }
  .intro-head2 {
    display: block;
  }
  .intro-head3 {
    display: block;
  }
  .intro-h3-stroke {
    display: block;
  }
  .is-main {
    height: 300px;
  }

  .is-top {
    display: block;
  }
  .stroke-img {
    background-repeat: no-repeat;
    background-image: url(../images/logo-design.png);
    position: absolute;
    left: 0;
    top: -190px;
    z-index: 200000;
    width: 100vw;
    height: 675px;
    margin-left: 145px;
  }

  .hero-logo1 {
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    background-image: url(../images/logo-dial2.png);
    height: 85px;
    width: 221px;
    left: 0;
    right: 0;
    margin-right: -150px;
    position: relative;
    margin-left: 26px;
  }
  .hero-logo {
    background-repeat: no-repeat;
    background-position: -12.1px center;
    background-size: contain;
    background-image: url(../images/dial-logo.svg);
    height: 100px;
    position: absolute;
    z-index: 50000;
    width: 310px;
    left: 0;
    right: 0;
    margin: auto;
    margin-right: -150px;
  }
  .stroke-div-3 {
    height: 200px;
  }
  .stroke-div-2 {
    height: 200px;
  }
  .stroke-div-c {
    height: 100px;
    display: none;
    position: relative;
  }
  .big-logo-cont {
    height: 500px;
  }
  .stroke-div-1 {
    height: 500px;
  }
  .hero-sec {
    height: 500px;
    padding: 0 15px;
  }
  
  .hero-sec2 {
    height: 400px;
    padding: 0 15px;
	background-color: #f9f9f9;
	background-image:url(../images/banner/bum.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center -8px;
  }
  
  .hero-sec3 {
    height: 400px;
    padding: 0 15px;
	background-color: #f9f9f9;
	background-image:url(../images/banner/green.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center -8px;
  }
  
  
  .hero-sec4 {
    height: 400px;
    padding: 0 15px;
	background-color: #f9f9f9;
	background-image:url(../images/banner/inner.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center -8px;
  }
  
  
  .hero-sec5 {
    height: 400px;
    padding: 0 15px;
	background-color: #f9f9f9;
	background-image:url(../images/banner/inner.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center -8px;
  }
  
 .logo-design2{
	 top: -225px !important;} 
  
  .hero-text {
    height: 200px;
    position: absolute;
    z-index: 4000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    margin-right: 3.6%;
    margin-top: 206px;
    color: #fff;
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .stroke-div-2 {
    border-right: 13.5px #0C0F40 solid;
  }
  .stroke-div-3 {
    border-right: 13.5px #0C0F40 solid;
  }
  .stroke-div-c {
    display: block;
  }
  .nav-bg {
    background-color: #fff;
    margin-top: 19px;
  }
  .nav-bg2 {
    background-color: #3E9EDD;
  }
  .main-logo {
    display: none;
  }
  .main-logo-2 {
    display: block;
  }
  .hr-menu {
    display: block;
    width: 287px;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: rgba(255, 255, 255, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.36);
    border-radius: 2px;
  }
  #main-menu {
    margin-right: 0px;
    position: relative;
		pointer-events: ;
  }
  .home-lnk {
    padding-top: 47px;
    margin-right: 0px;
  }
  .list-inline>li {
    padding-right: 0px !important;
  }
  #main-menu>ul>li>a {
    color: #234c5a !important;
    font-weight: 600;
    padding: 12px 0px 9px 18px;
    position: relative;
    transition: opacity 0.1s;
font: normal 15px/10px 'CircularStd-Bold';    display: block;
    font-weight: 900;
  }
  #main-menu>ul>li>a:hover {
    color: #FFAD00 !important;
  }
  #header-bar small {
    margin-right: 10px;
  }
  /* HERO SECTION */
  /**animation delays**/
  .fadeInUp:first-child {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
  }
  .fadeInUp:nth-child(2) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
  }
  .fadeInUp:nth-child(3) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
  }
  .fadeInUp:nth-child(4) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
  }
  .fadeInUp:nth-child(5) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
  }
  .fadeInUp:nth-child(6) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
  }
  .fadeInUp:nth-child(7) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
  }
  .js .animate-box {
    opacity: 0;
  }
}

@media only screen and (min-width: 481px) {
  .right-line {
    margin-left: 15.3%;
    display: none;
  }
}

@media only screen and (min-width: 768px) {
	  
	.article-list .item {
		padding-top: 50px;}


	.intro-cube h1 {
    text-align: left;}

  .right-line {
    margin-left: 14.9%;
    display: block;
  }
  .search-div {
    padding: 0;
  }
  .search-div1 {
    padding: 0;
  }
  .home-lnk {
    position: absolute;
  }
  /***get in touch************/
  .get-div {
    background-color: #fff;
    padding: 0px;
  }
  .get-div h2 {
		font: normal 36px/33px 'CircularStd-Bold';
		    line-height: 33px;
		line-height: 33px;
		color: #000043;
		padding-bottom: 20px;
  }
  #div-intouch {
    padding: 30px;
  }
  #div-intouch2 {
    padding: 48px;
  }
  #stay-div {
    border: 2px solid #fbab18;
    padding: 16px !important;
    margin-top: 18px;
    font-size: 17.2px;
  }
  #stay-div2 {
    border: 2px solid #fbab18;
    padding: 16px !important;
    margin-top: 18px;
    font-size: 17.2px;
  }
  #stay-div img {
    position: relative;
    top: -216px;
    padding: 10px;
    background: #fff;
    margin-bottom: -49px !important;
    margin-left: 107px;
  }
  #stay-div p {
    position: relative;
    padding: 10px;
    background: #fff;
    margin-bottom: -2px !important;
    bottom: -17px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
  }
  #stay-div2 p {
    position: relative;
    padding: 10px;
    background: #fff;
    margin-bottom: -2px !important;
    bottom: -17px;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    font-family: ubuntu;
  }
  #stay-div2 img {
    position: relative;
    top: -151px;
    padding: 10px;
    background: #fff;
    margin-bottom: -49px !important;
    margin-left: 204px;
  }
  .inch-div {
    padding: 17px !important;
  }
  .inch-div1 {
    padding: 17px !important;
  }
}

@media only screen and (min-width: 992px) {
  .side-bar {
    display: block;
  }
  .ghost-div {
    display: block;
    height: 200px;
    background-color: red;
  }
  #last-li {
    margin-right: -10px !important;
  }
  .right-line {
    margin-left: 15.3%;
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .right-line {
    margin-left: 15.6%;
    display: block;
  }
}
