.highlight-img {
  color:#313437;
  background-color:#eef4f7;
  padding:50px 0 55px;
  overflow:hidden;
}

@media (max-width:767px) {
  .highlight-img {
    text-align:center;
  }




  .highlight-img h2 {
    margin-bottom: 35px;
    margin-bottom: 20px !important;
    padding-top: 0px;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0;
    color: #3E9EDD;
    font-size: 2em !important;

}

.highlight-img .intro {
  /*font-size:18px;*/
  max-width:500px;
  line-height:1.5;
}

@media (max-width:767px) {
  .highlight-img .intro {
    max-width:none;
  }
}



.highlight-img .intro .btn {
  padding:16px 32px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
}

.highlight-img .intro .btn:hover {
  opacity:1;
  color: #fff;
  background-color: #FBAB1A;

}

.highlight-img .intro .btn:active {
  transform:translateY(1px);
}

.highlight-img .intro .btn-primary {
  background-color:#3E9EDD;
  color:#fff;
  border-radius: 50px;
}





.highlight-img .iimg-mockup {
  position:relative;
  max-width:260px;
  margin-top:-30px;
  margin-bottom:-230px;
  transform:rotate(-15deg);
}

.highlight-img .iimg-mockup img.device {
  width:100%;
  height:auto;
}

.highlight-img .iimg-mockup .screen {

}

.highlight-img .iimg-mockup .screen:before {

}
